* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f7fb;
}

.container {
    padding: 0 45px;
    background-color: #f5f7fb;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    background-color: white;
    margin-top: 20px;
    padding: 3px 10px;
    border-radius: 7px;
}

.left-nav {
    display: flex;
    gap: 17px;
    /* padding-left: 45px; */
}

.prof-pic {
    border: 1px solid black;
    border-radius: 100px;
    padding: 2px 12px;
    background-color: rgba(128, 128, 128, 0.226);
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-redirec a {
    text-decoration-line: none;
}

.welcome {
    display: flex;
    flex-direction: column;
}

.buttons {
    /* margin-right: 25px; */
    display: flex;
    gap: 10px;
}

.buttons button {
    border: none;
    border-radius: 7px;
    padding: 8px 12px;
    width: 155px;
    background-color: rgba(0, 68, 255, 0.571);
    font-weight: 400;
    cursor: pointer;
}

.buttons button:hover {
    background-color: rgba(128, 128, 128, 0.436);
}

#welcome {
    font-size: 30px;
    font-weight: bolder;
}

.welcome :last-child {
    font-size: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.759);
}


.stat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin-top: 30px;
}

.stat-cards {
    border: 1px solid black;
    height: 13vh;
    width: 20vw;
    border-radius: 9px;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    background-color: white;
    line-height: 3px;
    transition: all 0.47s ease-in-out;
}

.stat-cards:hover {
    box-shadow: 2px 2px 17px #7575df;
    transform: scale(1.0569);
    transform: translateY(7px);
}

.options {
    display: flex;
    height: 23px;
    padding: 6px 0;
    border-radius: 5px;
    width: 100%;
    border: 1px solid black;
    position: relative;
    align-items: center;
    top: 37px;
    background-color: rgba(104, 210, 210, 0.348);
}

.options span {
    width: 25%;
    height: 23px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.options span:hover {
    background-color: rgba(128, 128, 128, 0.246);
    color: blue;
}

.activity-and-sessions {
    display: flex;
    gap: 10px;
    margin-top: 55px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.recent-activity {
    width: 50%;
    height: 30vh;
    border: 1px solid black;
    border-radius: 7px;  
    padding: 20px;
}

.upcoming-sessions {
    width: 50%;
    height: 30vh ;
    border: 1px solid black;
    border-radius: 7px; 
    padding: 20px;
    
}